<footer>

     <div class="wave-bg"></div>

     <div class="footer-flex-content">
          <div>
               <a href="/" ><img src="/_media/logos/logo_white.svg"></a>
               
               <br>
               <a href="https://www.facebook.com/DPSSouthAtalLabs/" target="_blank"><img src="/_media/logos/social/facebook.svg"></a>
          </div>

          <div class="links-section">

               <!-- C-1 -->
               <div class="links-group">
                    <div class="links">
                         <div class="title">What We Do</div>
                         <ul>
                              <li><a href="#">Tinkering</a></li>
                              <li><a href="#">STEM Education</a></li>
                              <li><a href="#">Technology for the Future</a></li>
                         </ul>
                    </div>
                    <div class="links">
                         <div class="title">About DiPS ATL</div>
                         <ul>
                              <li><a href="#">Principal's Message</a></li>
                              <li><a href="#">ATL Leadership</a></li>
                              <li><a href="#">Events</a></li>
                              <li><a href="/contact">Contact DiPS ATL</a></li>
                         </ul>
                    </div>
               </div>

          </div>
     </div>

     <div class="endnotes">
          <div>Copyright © 2023 Delhi Public School Bangalore South. All rights reserved.</div>
          <div>Made with ❤️ by <a href="https://github.com/sumukhprasad">Sumukh Prasad</a>.</div>
     </div>

</footer>