---
layout: main-layout
---

<div class="content">

<h1>Contacting the Lab</h1>

<h2>Address</h3>
Atal Lab,<br>
DPS Bangalore South,<br>
11th KM, Bikaspura Main Road,<br>
Kanakapura Road, Konanakunte,<br>
Bangalore,<br>
Karnataka,<br>
India


<h2>E-mail</h3>
For enquiries, please send an email to <a class="link-external" href="mailto:atallabdpssouth@gmail.com">atallabdpssouth@gmail.com</a>.

</div>

