---
layout: main-layout
---
<div class="content widthlimited">

<div class="page-heading">
<h1>Tinkering</h1>
</div>

<p>Student creativity, problem-solving skills, and critical thinking are all fostered by the innovative and practical approach to learning known as tinkering. It is a part of the Atal Tinkering Labs (ATAL) initiative, which was started by the Government of India's Atal Innovation Mission (AIM) to encourage an innovative and entrepreneurial culture in schools.</p>

<p>Experimentation, exploration, and discovery are the three pillars of tinkering. It encourages students to embrace their curiosity and realise their ideas through a series of iterative processes. By providing them with access to a variety of tools, resources, and equipment, tinkering enables students to independently prototype, construct, and improve their projects.</p>

<ul>
<li>Promoting Problem-Solving: Through practical application, tinkering enables students to recognise real-world issues and come up with original solutions, fostering a deeper comprehension of ideas and real-world applications.</li>
<li>Encouraging Creativity: By encouraging creativity and imagination, tinkering helps students think outside the box and come up with original ideas.</li>
<li>Fostering Collaboration: Through teamwork and group projects, tinkering helps students develop their communication and collaboration skills, preparing them for future challenges.</li>
<li>Building Resilience: Trial and error are a part of tinkering, which teaches students to accept failure as a step in the learning process and motivates them to keep going despite obstacles.</li>
<li>Instilling a Maker Mindset: Through tinkering, students are encouraged to adopt a "maker mindset," where they take an active role in creating technology rather than simply consuming it.</li>
</ul>


<p>DPS Bangalore South offers a dedicated space outfitted with state-of-the-art tools, gear, and mentorship to support students' tinkering journeys as part of the ATAL Tinkering Labs network. The lab serves as a hub for innovation, enabling students to explore their passions, turn concepts into working prototypes, and engage in cross-disciplinary projects that interest them.</p>


<div class="author">by Chirag P Patil</div>
</div>