---
layout: main-layout
---

<div class="hero">
     <div class="hero-background">
          
     </div>
     
     <div class="hero-foreground">
          <div class="hero-content">
               <h1 class="main-heading" id="main-heading">Tinkering for a better tomorrow.</h1>

               <div class="hero-copy">At Delhi Public School Bangalore South's Atal Tinkering Lab, we strive to enable children to take the leap foreard into tomorrow's technologies, to create for a better tomorrow.</div>
     </div>
</div>